$base-font-size: 16px;

//colors
$primary: #ff6464;
$dark: #21243d;
$dark-1: #142850;
$secondary: #00A8CC;
$secondary-light: #edf7fa;
$black: #000;
$light: #8695A4;
$light-1:#E0E0E0;
$shadow: #EDF7FA;


//fonts

$font_path: '../fonts/';

//layout
$breakpoint-lg: 855px;
